<div class="lightBox lightBox_01" id="01">
    <div class="lightBox_Group">
        <div class="lightBox_content">
            <div class="lightBox_header">
                <h3 class="lightBox_title">遊戲產業－RWD活動頁</h3>
                <div class="lightBox_btn_closeGroup">
                    <button class="btn_close"> &times;</button>
                </div>
            </div>
            <div class="lightBox_body">
                <div id="lightBox_main_Content" class="lightBox_main_Content">
                    <h4>曾獲雙榜冠軍的昱泉 <a href="https://www.is520.com/pages-act-turningegg.html" target="_blank">《光之三國》</a> 手遊活動頁</h4>
                    <img src="/resources/images/content_web_design_01.jpg" alt="">
                </div>
            </div>
            <div class="lightBox_footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="btn_Group">
                            <button class="button_close">關閉</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lightBox lightBox_02" id="02">
    <div class="lightBox_Group">
        <div class="lightBox_content">
            <div class="lightBox_header">
                <h3 class="lightBox_title">博弈產業－RWD網頁</h3>
                <div class="lightBox_btn_closeGroup">
                    <button class="btn_close"> &times;</button>
                </div>
            </div>
            <div class="lightBox_body">
                <div id="lightBox_main_Content" class="lightBox_main_Content">
                    <h4>博弈產業RWD包網<a href="http://test.tt289.com:8080" target="_blank">推廣網頁</a> </h4>
                    <img src="/resources/images/content_web_design_02.jpg" alt="">
                </div>
            </div>
            <div class="lightBox_footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="btn_Group">
                            <button class="button_close">關閉</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lightBox lightBox_03" id="03">
    <div class="lightBox_Group">
        <div class="lightBox_content">
            <div class="lightBox_header">
                <h3 class="lightBox_title">遊戲產業－RWD網頁</h3>
                <div class="lightBox_btn_closeGroup">
                    <button class="btn_close"> &times;</button>
                </div>
            </div>
            <div class="lightBox_body">
                <div id="lightBox_main_Content" class="lightBox_main_Content">
                    <h4>3D玄幻武俠ARPG手遊大作<a href="https://tw.appledaily.com/lifestyle/daily/20150530/36578485" target="_blank">《劍花煙雨》</a>榮登Google Play下載排行榜第二名。設計上，考量到遊戲按鈕擺放對使用者的引導，有其不同的重要性。 </h4>
                    <img src="/resources/images/content_web_design_03.jpg" alt="">
                </div>
            </div>
            <div class="lightBox_footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="btn_Group">
                            <button class="button_close">關閉</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lightBox lightBox_04" id="04">
    <div class="lightBox_Group">
        <div class="lightBox_content">
            <div class="lightBox_header">
                <h3 class="lightBox_title">餐飲產業－RWD網頁</h3>
                <div class="lightBox_btn_closeGroup">
                    <button class="btn_close"> &times;</button>
                </div>
            </div>
            <div class="lightBox_body">
                <div id="lightBox_main_Content" class="lightBox_main_Content">
                    <h4>餐飲業<a href="http://lainie.updog.co/case8/" target="_blank">《本家甜屋》</a>網站。</h4>
                    <img src="/resources/images/content_web_design_04.jpg" alt="">
                </div>
            </div>
            <div class="lightBox_footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="btn_Group">
                            <button class="button_close">關閉</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lightBox lightBox_06" id="06">
    <div class="lightBox_Group">
        <div class="lightBox_content">
            <div class="lightBox_header">
                <h3 class="lightBox_title">博弈產業－RWD網頁</h3>
                <div class="lightBox_btn_closeGroup">
                    <button class="btn_close"> &times;</button>
                </div>
            </div>
            <div class="lightBox_body">
                <div id="lightBox_main_Content" class="lightBox_main_Content">
                    <h4>博弈產業RWD包網<a href="https://www.hhhggg31.com/" target="_blank">運營網頁</a> </h4>
                    <img src="/resources/images/content_web_design_06.jpg" alt="">
                </div>
            </div>
            <div class="lightBox_footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="btn_Group">
                            <button class="button_close">關閉</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lightBox lightBox_07" id="07">
    <div class="lightBox_Group">
        <div class="lightBox_content">
            <div class="lightBox_header">
                <h3 class="lightBox_title">博弈產業－RWD網頁</h3>
                <div class="lightBox_btn_closeGroup">
                    <button class="btn_close"> &times;</button>
                </div>
            </div>
            <div class="lightBox_body">
                <div id="lightBox_main_Content" class="lightBox_main_Content">
                    <h4>博弈產業RWD網頁<a href="http://lainie.updog.co/case11/" target="_blank">《GoldenPoker》端遊前導頁</a>引導使用者登入或加入會員（未套程式版） </h4>
                    <img src="/resources/images/content_web_design_07.jpg" alt="">
                </div>
            </div>
            <div class="lightBox_footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="btn_Group">
                            <button class="button_close">關閉</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lightBox lightBox_08" id="08">
    <div class="lightBox_Group">
        <div class="lightBox_content">
            <div class="lightBox_header">
                <h3 class="lightBox_title">博弈產業－RWD網頁</h3>
                <div class="lightBox_btn_closeGroup">
                    <button class="btn_close"> &times;</button>
                </div>
            </div>
            <div class="lightBox_body">
                <div id="lightBox_main_Content" class="lightBox_main_Content">
                    <h4>博弈產業RWD網頁<a href="http://lainie.updog.co/case11/index_v2.html" target="_blank">《GoldenPoker》端遊前導頁</a>引導使用者登入或加入會員（未套程式版） </h4>
                    <img src="/resources/images/content_web_design_08.jpg" alt="">
                </div>
            </div>
            <div class="lightBox_footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="btn_Group">
                            <button class="button_close">關閉</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lightBox lightBox_09" id="09">
    <div class="lightBox_Group">
        <div class="lightBox_content">
            <div class="lightBox_header">
                <h3 class="lightBox_title">租賃產業－RWD網頁</h3>
                <div class="lightBox_btn_closeGroup">
                    <button class="btn_close"> &times;</button>
                </div>
            </div>
            <div class="lightBox_body">
                <div id="lightBox_main_Content" class="lightBox_main_Content">
                    <h4>租賃產業<a href="http://lainie.updog.co/case1/" target="_blank">RWD網頁</a> </h4>
                    <img src="/resources/images/content_web_design_09.jpg" alt="">
                </div>
            </div>
            <div class="lightBox_footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="btn_Group">
                            <button class="button_close">關閉</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lightBox lightBox_app_ui_01" id="lightBox_app_ui_01">
    <div class="lightBox_Group lightBox_Group_mid">
        <div class="lightBox_content">
            <div class="lightBox_header">
                <h3 class="lightBox_title">昱泉《isGame》遊戲平台SDK UI設計</h3>
                <div class="lightBox_btn_closeGroup">
                    <button class="btn_close"> &times;</button>
                </div>
            </div>
            <div class="lightBox_body">
                <div id="lightBox_main_Content" class="lightBox_main_Content">
                    <h4>UI設計：考量到手機橫放、輸入、手機鍵盤跳出等問題</h4>
                    <img src="/resources/images/appui_s_01.jpg" alt="">
                </div>
            </div>
            <div class="lightBox_footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="btn_Group">
                            <button class="button_close">關閉</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lightBox lightBox_app_ui_02" id="lightBox_app_ui_02">
    <div class="lightBox_Group lightBox_Group_mid">
        <div class="lightBox_content">
            <div class="lightBox_header">
                <h3 class="lightBox_title">昱泉《isGame》遊戲平台SDK UI設計</h3>
                <div class="lightBox_btn_closeGroup">
                    <button class="btn_close"> &times;</button>
                </div>
            </div>
            <div class="lightBox_body">
                <div id="lightBox_main_Content" class="lightBox_main_Content">
                    <h4>按鈕放置的位置、大小，考量到手機橫放，引導使用者優先使用何種登入方式</h4>
                    <img src="/resources/images/appui_s_02.jpg" alt="">
                </div>
            </div>
            <div class="lightBox_footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="btn_Group">
                            <button class="button_close">關閉</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lightBox lightBox_app_ui_03" id="lightBox_app_ui_03">
    <div class="lightBox_Group lightBox_Group_mid">
        <div class="lightBox_content">
            <div class="lightBox_header">
                <h3 class="lightBox_title">昱泉《isGame》遊戲平台SDK UI設計</h3>
                <div class="lightBox_btn_closeGroup">
                    <button class="btn_close"> &times;</button>
                </div>
            </div>
            <div class="lightBox_body">
                <div id="lightBox_main_Content" class="lightBox_main_Content">
                    <h4>按鈕放置的位置、大小，考量到手機橫放，引導使用者優先使用何種登入方式</h4>
                    <img src="/resources/images/appui_s_03.jpg" alt="">
                </div>
            </div>
            <div class="lightBox_footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="btn_Group">
                            <button class="button_close">關閉</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lightBox lightBox_app_ui_04" id="lightBox_app_ui_04">
    <div class="lightBox_Group lightBox_Group_mid">
        <div class="lightBox_content">
            <div class="lightBox_header">
                <h3 class="lightBox_title">昱泉《isGame》遊戲平台SDK UI設計</h3>
                <div class="lightBox_btn_closeGroup">
                    <button class="btn_close"> &times;</button>
                </div>
            </div>
            <div class="lightBox_body">
                <div id="lightBox_main_Content" class="lightBox_main_Content">
                    <h4>按鈕放置的位置、大小，考量到手機橫放，引導使用者優先使用何種登入方式</h4>
                    <img src="/resources/images/appui_s_04.jpg" alt="">
                </div>
            </div>
            <div class="lightBox_footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="btn_Group">
                            <button class="button_close">關閉</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>