<div class="container">
    <section class="container portfolio_txt_template web_design">
        <div class="row">
            <div class="title_group">
                <h2 class="txt_info">Portfolio</h2>
                <span class="border_bottom"></span>
            </div>
            <div class="portfolio_txt_group title">
                <ul class="portfolio_txt_group_box">
                    <li><a class="txt_web_design active" href="javascript:;">Web Design</a></li>
                    <li><a class="txt_app_ui" href="javascript:;">App Ui Design</a></li>
                </ul>
                <div class="content_group">
                    <div class="porfolio_inner web_design"><!--web_design start-->
                        <ul  class="porfolio_inner_box">
                            <li><a class="active" href="javascript:;"><span class="btn_group"><button class="btn btn_click btn_click_01" type="button">Click Me</button></span><span class="mask_top"></span><span class="mask_bottom"></span><img class="img-fluid" src="/resources/images/web_s_01.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><span class="btn_group"><button class="btn btn_click btn_click_02" type="button">Click Me</button></span><span class="mask_top"></span><span class="mask_bottom"></span><img class="img-fluid" src="/resources/images/web_s_02.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><span class="btn_group"><button class="btn btn_click btn_click_03" type="button">Click Me</button></span><span class="mask_top"></span><span class="mask_bottom"></span><img class="img-fluid" src="/resources/images/web_s_03.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><span class="btn_group"><button class="btn btn_click btn_click_04" type="button">Click Me</button></span><span class="mask_top"></span><span class="mask_bottom"></span><img class="img-fluid" src="/resources/images/web_s_04.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/web_s_05.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><span class="btn_group"><button class="btn btn_click btn_click_06" type="button">Click Me</button></span><span class="mask_top"></span><span class="mask_bottom"></span><img class="img-fluid" src="/resources/images/web_s_06.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><span class="btn_group"><button class="btn btn_click btn_click_07" type="button">Click Me</button></span><span class="mask_top"></span><span class="mask_bottom"></span><img class="img-fluid" src="/resources/images/web_s_07.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><span class="btn_group"><button class="btn btn_click btn_click_08" type="button">Click Me</button></span><span class="mask_top"></span><span class="mask_bottom"></span><img class="img-fluid" src="/resources/images/web_s_08.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><span class="btn_group"><button class="btn btn_click btn_click_09" type="button">Click Me</button></span><span class="mask_top"></span><span class="mask_bottom"></span><img class="img-fluid" src="/resources/images/web_s_09.jpg" alt=""></a></li>
                        </ul>
                    </div><!--/web_design end-->
                    <div class="porfolio_inner app_ui"><!--app_ui start-->
                        <ul class="porfolio_inner_box">
                            <li><a href="javascript:;"><span class="btn_group"><button class="btn btn_click btn_click_app_ui_01" type="button">Click Me</button></span><span class="mask_top"></span><span class="mask_bottom"></span><img class="img-fluid" src="/resources/images/appui_s_01.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><span class="btn_group"><button class="btn btn_click btn_click_app_ui_02" type="button">Click Me</button></span><span class="mask_top"></span><span class="mask_bottom"></span><img class="img-fluid" src="/resources/images/appui_s_02.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><span class="btn_group"><button class="btn btn_click btn_click_app_ui_03" type="button">Click Me</button></span><span class="mask_top"></span><span class="mask_bottom"></span><img class="img-fluid" src="/resources/images/appui_s_03.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><span class="btn_group"><button class="btn btn_click btn_click_app_ui_04" type="button">Click Me</button></span><span class="mask_top"></span><span class="mask_bottom"></span><img class="img-fluid" src="/resources/images/appui_s_04.jpg" alt=""></a></li>
                        </ul>
                    </div><!--/app_ui end-->
                </div> 
            </div>
        </div>
    </section>
    <section class="container portfolio_txt_template graphic_design">
        <div class="row">
            <div class="title_group">
                <h2 class="txt_info"></h2>
                <span class="border_bottom"></span>
            </div>
            <div class="portfolio_txt_group title">
                <ul class="portfolio_txt_group_box">
                    <li><a class="txt_logo active" href="javascript:;">Logo</a></li>
                    <li><a class="txt_icon" href="javascript:;">Icon</a></li>
                    <li><a class="txt_banner" href="javascript:;">Banner</a></li>
                    <li><a class="txt_edm" href="javascript:;">EDM</a></li>
                    <li><a class="txt_dm" href="javascript:;">DM</a></li>
                    <!-- <li><a class="txt_business_card" href="javascript:;">Business Card</a></li> -->
                    <li><a class="txt_output" href="javascript:;">大圖輸出/布面旗幟</a></li>
                    <li><a class="txt_bus_advertising" href="javascript:;">Bus Advertising</a></li>
                </ul>
                <div class="content_group">
                    <div class="porfolio_inner logo"><!--logo start-->
                        <ul class="porfolio_inner_box">
                            <li><a class="active" href="javascript:;"><img class="img-fluid" src="/resources/images/logo_s_01.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/logo_s_02.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/logo_s_03.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/logo_s_04.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/logo_s_05.jpg" alt=""></a></li>
                        </ul>
                    </div><!--/logo end-->
                    <div class="porfolio_inner icon"><!--icon start-->
                        <ul class="porfolio_inner_box">
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/icon_s_01.jpg" alt=""></a></li>
                        </ul>
                    </div><!--/icon end-->
                    <div class="porfolio_inner banner"><!--banner start-->
                        <ul class="porfolio_inner_box">
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_02.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_03.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_04.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_05.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_06.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_07.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_08.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_09.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_10.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_11.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_12.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_13.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_14.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_15.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_16.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_17.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_18.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_19.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_20.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_21.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_22.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/banner_s_01.jpg" alt=""></a></li>
                        </ul>
                    </div><!--/banner end-->
                    <div class="porfolio_inner edm"><!--edm start-->
                        <ul class="porfolio_inner_box">
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/edm_s_01.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/edm_s_02.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/edm_s_03.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/edm_s_04.jpg" alt=""></a></li>
                        </ul>
                    </div><!--/edm end-->
                    <div class="porfolio_inner dm"><!--dm start-->
                        <ul class="porfolio_inner_box">
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/dm_s_01.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/dm_s_02.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/dm_s_03.jpg" alt=""></a></li>
                        </ul>
                    </div><!--/dm end-->
                    <div class="porfolio_inner business_card"><!--business_card start-->
                        <ul class="porfolio_inner_box">
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/edm_s_01.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/edm_s_02.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/edm_s_03.jpg" alt=""></a></li>
                        </ul>
                    </div><!--/business_card end-->
                    <div class="porfolio_inner output"><!--大圖輸出/布面旗幟 start-->
                        <ul class="porfolio_inner_box">
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/output_s_01.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/output_s_02.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/output_s_03.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/output_s_04.jpg" alt=""></a></li>
                        </ul>
                    </div><!--/大圖輸出/布面旗幟 end-->
                    <div class="porfolio_inner bus_advertising"><!--公車車體廣告 start-->
                        <ul class="porfolio_inner_box">
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/bus_s_01.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/bus_s_02.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/bus_s_03.jpg" alt=""></a></li>
                        </ul>
                    </div><!--/公車車體廣告 end-->
                </div>                                    
            </div>
        </div>
    </section>
    <section class="container portfolio_txt_template creative_design">
        <div class="row">
            <div class="title_group">
                <h2 class="txt_info"></h2>
                <span class="border_bottom"></span>
            </div>
            <div class="portfolio_txt_group title">
                <ul class="portfolio_txt_group_box">
                    <li><a class="txt_character_design active" href="javascript:;">Character Design</a></li>
                    <li><a class="txt_stickers" href="javascript:;">Stickers</a></li>
                    <li><a class="txt_creative_product" href="javascript:;">Creative product</a></li>
                    <li><a class="txt_exhibition" href="javascript:;">Exhibition</a></li>
                </ul>
                <div class="content_group">
                    <div class="porfolio_inner character"><!--角色設計Character start-->
                        <ul class="porfolio_inner_box">
                            <li><a class="active" href="javascript:;"><img class="img-fluid" src="/resources/images/character_s_01.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/character_s_02.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/character_s_03.jpg" alt=""></a></li>
                        </ul>
                    </div><!--/角色設計Character end-->
                    <div class="porfolio_inner stickers"><!--Stickers start-->
                        <ul class="porfolio_inner_box">
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/stickers_s_01.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/stickers_s_02.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/stickers_s_03.jpg" alt=""></a></li>
                        </ul>
                    </div><!--/Stickers end-->
                    <div class="porfolio_inner creative_product"><!--文創商品Creative product start-->
                        <ul class="porfolio_inner_box">
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/creative_product_s_01.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/creative_product_s_02.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/creative_product_s_03.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/creative_product_s_04.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/creative_product_s_05.jpg" alt=""></a></li>
                        </ul>
                    </div><!--/文創商品Creative product end-->
                    <div class="porfolio_inner exhibition"><!--展覽紀實Exhibition start-->
                        <ul class="porfolio_inner_box">
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/exhibition_s_01.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/exhibition_s_02.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/exhibition_s_03.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/exhibition_s_04.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/exhibition_s_05.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/exhibition_s_06.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/exhibition_s_07.jpg" alt=""></a></li>
                            <li><a href="javascript:;"><img class="img-fluid" src="/resources/images/exhibition_s_08.jpg" alt=""></a></li>
                        </ul>
                    </div><!--/展覽紀實Exhibition end-->
                </div>
            </div>
        </div>
    </section>
    <section class="container portfolio_txt_template other">
        <div class="row">
            <div class="title_group">
                <h2 class="txt_info"></h2>
                <span class="border_bottom"></span>
            </div>
            <div class="portfolio_txt_group title">
                other
            </div>
        </div>
    </section>
</div>

<script>
    $(function(){

        $(".web_design").click(function(){
            $(".title_group .txt_info").text("Web Design");
            $(".web_design").show().siblings().hide();
        })

        $(".graphic_design").click(function(){
            $(".title_group .txt_info").text("Graphic Design");
            $(".graphic_design").show().siblings().hide();
        })

        $(".creative_design").click(function(){
            $(".title_group .txt_info").text("Creative Design");
            $(".creative_design").show().siblings().hide();
        })

        $(".other").click(function(){
            $(".title_group .txt_info").text("Other");
            $(".other").show().siblings().hide();
        })
    })
</script>